<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Página Inicial</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/shopping-cart/">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito de Compras
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Menú de Usuario <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                            <li><a href="/user/profile">Perfil de Usuario</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Salir</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Crear cuenta</a></li>
                            <li><a href="/user/signin">Entrar</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
