<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Perfil de Usuario</h1>
        <br>

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Datos personales</h3>
                <br><br>

                <form class="form-horizontal form" action="/user/profile" method="POST">

                    {{#if user}}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre" value="{{ this.user.name }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="city">Ciudad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" name="city" placeholder="Ingrese su ciudad" value="{{this.user.city}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="state">Estado</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="state" name="state" placeholder="Ingrese su estado" value="{{this.user.state}}">
                        </div>
                    </div>


                    <div class="form-group hidden">
                        <label class="control-label col-sm-2" for="email">email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su email" value="{{this.user.email}}">
                        </div>
                    </div>


                    <div class="form-group hidden">
                        <label class="control-label col-sm-2" for="password">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Actualizar página</button>

                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {{/if}}
                </form>
            </div>
            <div class="panel-body">

                <form class="form-horizontal form" action="/user/removeUser" method="POST">
                        <button type="submit" class="btn btn-danger">Borrar mi cuenta</button>
                </form>

            </div>
        </div>

        
    </div>
</div>
