<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Entrar</h1></br>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        </br>
        <form action = "http://localhost:3000/loginFB" method="POST">
          <button type="submit" style="color:white;background-color:blue" class="btn btn-lg btn-block" value="login">
            <i class="fa fa-facebook" style="font-size: 25px"></i> &nbsp;&nbsp;Facebook</button>

        </form>

        <p>¿No estás registrado? <a href="/user/signup">Crear cuenta</a></p>
    </div>
</div>
